@import '../../shared/variables';

.input {
    width:100%;
    font-size: $text-font-size;
    font-family: inherit;    
    color:$primary-text-color;
    outline: none;
    &--text {
        line-height: 3.35em;
        border: 1px solid $input-border-color;
        border-radius: 30px;
        padding: 0 30px;
        caret-color: $tertiary-text-color; 
        &::placeholder {
            color:inherit;
        }    
        &:focus,
        &:active {
            border-color: $tertiary-text-color;
        }
    }
    &--checkbox {
        display: flex;
        align-items: flex-end;

        &__label {
            font-weight: bold;
            line-height:24px;
        }
        
        &__field {
            appearance: none;
            height: 24px;
            width: 24px;
            position: relative;
            font-size: inherit;
            margin-right:10px;
            outline:inherit;
            &:hover {
                cursor: pointer;
            }
            &::before {
                content:"";
                background-color: $tertiary-background-color;
                position: absolute;
                width: 100%;
                height: 100%;
                border:1px solid $input-border-color;
                border-radius: 4px;        
            }
            &:focus::before {
                border-color: $tertiary-text-color;
            }
            &:checked::after {
                content:url('./checkmark.png');
                position: absolute;
                width:24px;
                height:24px;
                top:3px;
                left:4px;        
            }
        }
    }
}

