@import '../../shared/variables';

.button {
    width: 204px;
    height:60px;
    font-size: $button-font-size;
    font-family: inherit;
    font-weight: bold;
    line-height: 60px;
    padding: 0 72px;
    border-radius: 30px;
    color:$secondary-text-color;
    background-color: $secondary-background-color;
    border:none;
    outline:none;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: lighten($secondary-background-color,15.5);
    }
    &:disabled {
        background-color: $secondary-background-color-2;
        cursor: not-allowed;
    }
}


