@import '../../shared/variables';

.button {
    font-size: $button-font-size;
    font-family: inherit;
    font-weight: bold;
    line-height: (60px /  $button-font-size) * 1em;
    padding: 0 (72px /  $button-font-size) * 1em;;
    border-radius: (30px / $button-font-size) * 1em;
    color:$secondary-text-color;
    background-color: $secondary-background-color;
    border:none;
    outline:none;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: lighten($secondary-background-color,15.5);
    }

    &:disabled {
        background-color: $secondary-background-color-2;
        cursor: not-allowed;
    }
}


