@import '../../shared/variables';

.alert-box {
    padding: 1.5em 1em;
    border:1px solid $alert-box-border-color;    

    &--warning {
        background-color: $warning-background-color;
        color:$warning-text-color;
    }

    &--error {
        background-color: $error-background-color;
        color:$error-text-color;
    }

    &__text {
        line-height: 23.6px;
    }
}