// === Colors ===

$primary-background-color:#fcf8f2;
$secondary-background-color:#100b5f;
$secondary-background-color-2:#6e6a9a;
$tertiary-background-color:#ffffff;
$warning-background-color:#fff3cd;
$error-background-color:#f8d7da;

$primary-text-color:#968d7c;
$secondary-text-color:#ffffff;
$tertiary-text-color:#0e00ff; 
$warning-text-color:#80671f;
$error-text-color:#871520;

$input-border-color:#bcae93;
$alert-box-border-color: rgba(0, 0, 0, .2);

// === Fonts ===
$font-family: Arial, Helvetica, sans-serif;
$heading-font-size:36px;
$text-font-size: $heading-font-size / 2;
$button-font-size:22px;

// === Sizes ===